@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.animate {
@apply  transform transition duration-[400ms] ;
}
.animate2 {
@apply transform transition duration-1000 ;
}


.callsection {
  background-image: url("./assets/image-4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
}
